body {
    text-align: center;
}

#container {
    background-color: hsl(185, 75%, 39%);
    width: 1400px;
    font-family: 'Kumbh Sans', sans-serif;
    /* margin: 0% 4%; */
}

/* Primary colors
Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

neutral: 
dark gray: hsl(0, 0%, 59%)

font size 1.125rem */

#box {
    width: 19.75rem;
    height: 22rem;
    background-color: white;
    border-radius: 1rem;
    display: inline-block;
    margin: 13% auto auto;
    /* box-shadow */
}

#header {
    background-image: url('images/bg-pattern-card.svg');
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 40%;
}

#profile {
    border-radius: 50%;
    border-color:black 5px solid;
}

#footer {
    height: 25%;
    background-color: white;
    position: relative;
    margin-top: 41%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* border-color: hsl(0, 0%, 59%) 1px solid; */
}