/*------------------------
 Entire Page 
 ------------------------*/

body {
  background-color: #bbe1fa;
  text-align: center;
  }

/*------------------------
 Heading 
 ------------------------*/

  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #3282b8;
    font-size: 8rem;
    color: #0f4c75;
  }

/*------------------------
 Figure 
 ------------------------*/

  p {
    margin: auto;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 0 #3282b8;
    font-size: 2rem;
    color: #0f4c75;
    display: inline;
    position: absolute;
  }

  img {
      padding: 5%;
  }
