/* Entire Page */

body {
    background-color: #393E46;
    text-align: center;
  }

/*------------------------
 Heading 
 ------------------------*/

  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }

/*------------------------
 Figure 
 ------------------------*/

  p {
    margin: auto;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 2rem;
    color: #4ECCA3;
    display: inline;
    position: absolute;
  }

  img {
      padding: 5%;
  }
