/*------------------------
 Entire Page 
 ------------------------*/

body {
  background-color: #f8f3d4;
  text-align: center;
  }

/*------------------------
 Heading 
 ------------------------*/

  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #522546;
    font-size: 8rem;
    color: #f6416c;
  }

/*------------------------
 Figure 
 ------------------------*/

  p {
    margin: auto;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 0 #88304e;
    font-size: 2rem;
    color: #f6416c;
    display: inline;
    position: absolute;
  }

  img {
      padding: 5%;
  }
