body {
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    font-size: 1.125rem;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-attachment: static;
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: 45% 60%;
}

.container {
    display: inline-block;
    margin: 13% auto;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 10px 10px 13px 7px hsl(185, 75%, 31%); 
}

.card {
    width: 100%;
    border-radius: 1rem;
    background-color: white;
}

#bg-pattern {
    width: 100%;
    border-radius: 1rem 1rem 0 0; 
    z-index: -1;
}

#profile-picture {
    border-radius: 100%;
    border: 5px solid white;
    margin: auto;
    margin-top: -15%;
}

#name {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

hr {
    width: 99%;
    border-style: solid;
    color: hsl(0, 0%, 59%);
}

ul {
    list-style: none;
    float: left;
}

ul p {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

p {
    color: hsl(0, 0%, 59%);
}

small, span {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}